automat-v2/nodered_program.json
[{"id":"81d2605b.70d53","type":"tab","label":"Allgemeine Übersicht","disabled":false,"info":""},{"id":"365761bc.50fdfe","type":"tab","label":"NFC-System","disabled":false,"info":""},{"id":"e7d53193.996e98","type":"ui_tab","z":"","name":"Wartung","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"c00a94e2.7c9fa","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ea074717.c343a","type":"ui_group","z":"","name":"Wartung","tab":"e7d53193.996e98","order":2,"disp":true,"width":"6","collapse":false},{"id":"2a493a4d.dd320e","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"52f305b8.022614","type":"ui_tab","z":"","name":"Belohnungautomat","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"492a2bf1.81e04c","type":"ui_group","z":"","name":"NFC-Schlüsselanhänger","tab":"52f305b8.022614","order":1,"disp":true,"width":"6","collapse":false},{"id":"137891c0.f6442e","type":"ui_spacer","name":"spacer","group":"492a2bf1.81e04c","order":8,"width":1,"height":1},{"id":"45d8d809.717a6","type":"ui_group","z":"","name":"Nachlegen","tab":"e7d53193.996e98","order":1,"disp":true,"width":"6","collapse":false},{"id":"fd030eff.92cfe","type":"ui_spacer","name":"spacer","group":"45d8d809.717a6","order":2,"width":1,"height":1},{"id":"99e272c6.2cd06","type":"ui_button","z":"365761bc.50fdfe","name":"","group":"ea074717.c343a","order":1,"width":0,"height":0,"passthru":false,"label":"Testausgabe","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+","payloadType":"str","topic":"topic","topicType":"msg","x":1350,"y":680,"wires":[["a37b82af.6e5d4"]]},{"id":"6cb9513.08656b","type":"mqtt out","z":"365761bc.50fdfe","name":"","topic":"homie/redeemspiral-3/set","qos":"2","retain":"false","broker":"2a493a4d.dd320e","x":1790,"y":680,"wires":[]},{"id":"807d66db.827ad","type":"ui_text","z":"365761bc.50fdfe","group":"492a2bf1.81e04c","order":2,"width":0,"height":0,"name":"","label":"Zuletzt gescannter NFC-Tag","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":280,"wires":[]},{"id":"699bf1bf.3aa37","type":"timeouttrigger","z":"365761bc.50fdfe","ontimeouttype":"bool","ontimeoutval":"false","duration":"1","units":"min","name":"","x":1130,"y":280,"wires":[["e8eea7cb.3a5a5","a8330b68.c50e7"]]},{"id":"e8eea7cb.3a5a5","type":"BooleanLogicUltimate","z":"365761bc.50fdfe","name":"","filtertrue":"both","persist":false,"sInitializeWith":"false","triggertopic":"trigger","outputtriggeredby":"all","inputCount":"5","topic":"result","x":1640,"y":360,"wires":[["849cb9a3.3f3"],[],[]]},{"id":"b464eff2.1d538","type":"inject","z":"365761bc.50fdfe","name":"","topic":"","payload":"7247049","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":420,"wires":[["afd8e1b1.b1a13","a7fe7ad.cb24088"]]},{"id":"cf78dff0.c6a45","type":"file in","z":"365761bc.50fdfe","name":"","filename":"/home/pi/tags/red.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":380,"y":680,"wires":[["53f7e019.9f36"]]},{"id":"feb0b37d.e987c","type":"inject","z":"365761bc.50fdfe","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":760,"wires":[["cf78dff0.c6a45","d06ccde0.308328","448ad35d.04b64c","ffbb96b8.e85d9","d359a1df.85d5"]]},{"id":"53f7e019.9f36","type":"change","z":"365761bc.50fdfe","name":"save as tags_red","rules":[{"t":"set","p":"tags_red","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":680,"wires":[[]]},{"id":"1938665f.f050ea","type":"function","z":"365761bc.50fdfe","name":"red?","func":"var str = global.get('tags_red');\nvar regex = new RegExp(msg.payload);\n\nmsg.tag_id = msg.payload; //to store later\nmsg.payload =  str.search(regex);\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":280,"wires":[["60aee0eb.194d58"]]},{"id":"d06ccde0.308328","type":"file in","z":"365761bc.50fdfe","name":"","filename":"/home/pi/tags/blue.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":380,"y":720,"wires":[["25404730.73ee6"]]},{"id":"25404730.73ee6","type":"change","z":"365761bc.50fdfe","name":"save as tags_blue","rules":[{"t":"set","p":"tags_blue","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":720,"wires":[[]]},{"id":"448ad35d.04b64c","type":"file in","z":"365761bc.50fdfe","name":"","filename":"/home/pi/tags/green.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":760,"wires":[["143f11f8.b191b6"]]},{"id":"143f11f8.b191b6","type":"change","z":"365761bc.50fdfe","name":"save as tags_green","rules":[{"t":"set","p":"tags_green","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":760,"wires":[[]]},{"id":"ffbb96b8.e85d9","type":"file in","z":"365761bc.50fdfe","name":"","filename":"/home/pi/tags/yellow.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":800,"wires":[["ef24baa1.389778"]]},{"id":"ef24baa1.389778","type":"change","z":"365761bc.50fdfe","name":"save as tags_yellow","rules":[{"t":"set","p":"tags_yellow","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":800,"wires":[[]]},{"id":"d359a1df.85d5","type":"file in","z":"365761bc.50fdfe","name":"","filename":"/home/pi/tags/black.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":840,"wires":[["35c16477.60abf4"]]},{"id":"35c16477.60abf4","type":"change","z":"365761bc.50fdfe","name":"save as tags_black","rules":[{"t":"set","p":"tags_black","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":840,"wires":[[]]},{"id":"1753f106.356fbf","type":"delay","z":"365761bc.50fdfe","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":220,"wires":[["3609b1e3.2b84de"]]},{"id":"24de665b.d7dfb2","type":"function","z":"365761bc.50fdfe","name":"blue?","func":"var str = global.get('tags_blue');\nvar regex = new RegExp(msg.payload);\n\nmsg.tag_id = msg.payload; //to store later\nmsg.payload =  str.search(regex);\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":320,"wires":[["cc991a85.d41df"]]},{"id":"823108bd.50ae7","type":"function","z":"365761bc.50fdfe","name":"green?","func":"var str = global.get('tags_green');\nvar regex = new RegExp(msg.payload);\n\nmsg.tag_id = msg.payload; //to store later\nmsg.payload =  str.search(regex);\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":360,"wires":[["439a539b.10a3cc"]]},{"id":"fd486f7b.66564","type":"function","z":"365761bc.50fdfe","name":"yellow?","func":"var str = global.get('tags_yellow');\nvar regex = new RegExp(msg.payload);\n\nmsg.tag_id = msg.payload; //to store later\nmsg.payload =  str.search(regex);\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":400,"wires":[["c81a5809.709d48"]]},{"id":"84172e1a.3a635","type":"function","z":"365761bc.50fdfe","name":"black?","func":"var str = global.get('tags_black');\nvar regex = new RegExp(msg.payload);\n\nmsg.tag_id = msg.payload; //to store later\nmsg.payload =  str.search(regex);\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":440,"wires":[["4975e935.da3ba8"]]},{"id":"60aee0eb.194d58","type":"switch","z":"365761bc.50fdfe","name":"gefunden?","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":280,"wires":[["6b99955d.2ae904"]]},{"id":"cc991a85.d41df","type":"switch","z":"365761bc.50fdfe","name":"gefunden?","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":320,"wires":[["a0e3d231.efd0c8"]]},{"id":"439a539b.10a3cc","type":"switch","z":"365761bc.50fdfe","name":"gefunden?","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":360,"wires":[["b77992cc.de2158"]]},{"id":"c81a5809.709d48","type":"switch","z":"365761bc.50fdfe","name":"gefunden?","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":400,"wires":[["b9ccc735.8ff9e"]]},{"id":"4975e935.da3ba8","type":"switch","z":"365761bc.50fdfe","name":"gefunden?","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":440,"wires":[["5a852dac.32c2ec"]]},{"id":"a4a49753.b6ae98","type":"inject","z":"365761bc.50fdfe","name":"","topic":"","payload":"11021622","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":580,"wires":[["afd8e1b1.b1a13","a7fe7ad.cb24088"]]},{"id":"6b99955d.2ae904","type":"function","z":"365761bc.50fdfe","name":"red!","func":"msg.topic = 'red';\nif (msg.payload >= 0) {\n  msg.payload = true;\n  global.set('tag_id_'+msg.topic+'_last',msg.tag_id); //to blacklist for a couple if min after redeem\n} else {\n  msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":280,"wires":[["699bf1bf.3aa37"]]},{"id":"afd8e1b1.b1a13","type":"function","z":"365761bc.50fdfe","name":"tag id temporal disabled?","func":"var array = flow.get('temporal_tag_id') || [];\n\nvar out1 = null;\nvar out2 = null;\n\nif (array.includes(msg.payload))\n  out2 = msg\nelse\n  out1 = msg;\n  \nreturn [out1, out2];","outputs":2,"noerr":0,"x":370,"y":360,"wires":[["1938665f.f050ea","24de665b.d7dfb2","823108bd.50ae7","fd486f7b.66564","84172e1a.3a635","1753f106.356fbf","ff4176d.185eb08"],[]],"outputLabels":["freier Tag","gesperrter Tag"]},{"id":"5a38c183.b1fe5","type":"inject","z":"365761bc.50fdfe","name":"","topic":"","payload":"13125281","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":540,"wires":[["afd8e1b1.b1a13","a7fe7ad.cb24088"]]},{"id":"f1decb2b.738f68","type":"inject","z":"365761bc.50fdfe","name":"","topic":"","payload":"15332725","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":500,"wires":[["afd8e1b1.b1a13","a7fe7ad.cb24088"]]},{"id":"d914c086.a256a8","type":"inject","z":"365761bc.50fdfe","name":"","topic":"","payload":"14777853","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":460,"wires":[["afd8e1b1.b1a13","a7fe7ad.cb24088"]]},{"id":"fc326156.f57","type":"debug","z":"365761bc.50fdfe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1690,"y":560,"wires":[]},{"id":"58203438.653f94","type":"change","z":"365761bc.50fdfe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":520,"wires":[["6b99955d.2ae904","a0e3d231.efd0c8","b77992cc.de2158","b9ccc735.8ff9e","5a852dac.32c2ec"]]},{"id":"5cfe3352.12de74","type":"timeouttrigger","z":"365761bc.50fdfe","ontimeouttype":"bool","ontimeoutval":"false","duration":"1","units":"min","name":"","x":1130,"y":320,"wires":[["e8eea7cb.3a5a5","d5fd3e0.0a0e7c"]]},{"id":"a0e3d231.efd0c8","type":"function","z":"365761bc.50fdfe","name":"blue!","func":"msg.topic = 'blue';\nif (msg.payload >= 0) {\n  msg.payload = true;\n  global.set('tag_id_'+msg.topic+'_last',msg.tag_id); //to blacklist for a couple if min after redeem\n} else {\n  msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":320,"wires":[["5cfe3352.12de74"]]},{"id":"849cb9a3.3f3","type":"switch","z":"365761bc.50fdfe","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":520,"wires":[["58203438.653f94","ae736cad.2ddb8","a37b82af.6e5d4","fc326156.f57"]]},{"id":"b77992cc.de2158","type":"function","z":"365761bc.50fdfe","name":"green!","func":"msg.topic = 'green';\nif (msg.payload >= 0) {\n  msg.payload = true;\n  global.set('tag_id_'+msg.topic+'_last',msg.tag_id); //to blacklist for a couple if min after redeem\n} else {\n  msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":360,"wires":[["1eceba56.27336e"]]},{"id":"1eceba56.27336e","type":"timeouttrigger","z":"365761bc.50fdfe","ontimeouttype":"bool","ontimeoutval":"false","duration":"1","units":"min","name":"","x":1130,"y":360,"wires":[["e8eea7cb.3a5a5","8a6d01ad.af43"]]},{"id":"b9ccc735.8ff9e","type":"function","z":"365761bc.50fdfe","name":"yellow!","func":"msg.topic = 'yellow';\nif (msg.payload >= 0) {\n  msg.payload = true;\n  global.set('tag_id_'+msg.topic+'_last',msg.tag_id); //to blacklist for a couple if min after redeem\n} else {\n  msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":400,"wires":[["6e97731c.3f6fcc"]]},{"id":"6e97731c.3f6fcc","type":"timeouttrigger","z":"365761bc.50fdfe","ontimeouttype":"bool","ontimeoutval":"false","duration":"1","units":"min","name":"","x":1130,"y":400,"wires":[["e8eea7cb.3a5a5","4002752c.47c5d4"]]},{"id":"5a852dac.32c2ec","type":"function","z":"365761bc.50fdfe","name":"black!","func":"msg.topic = 'black';\nif (msg.payload >= 0) {\n  msg.payload = true;\n  global.set('tag_id_'+msg.topic+'_last',msg.tag_id); //to blacklist for a couple if min after redeem\n} else {\n  msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":440,"wires":[["750f588c.f1b6c"]]},{"id":"750f588c.f1b6c","type":"timeouttrigger","z":"365761bc.50fdfe","ontimeouttype":"bool","ontimeoutval":"false","duration":"1","units":"min","name":"","x":1130,"y":440,"wires":[["e8eea7cb.3a5a5","bef18ce4.d0fcc8"]]},{"id":"ae736cad.2ddb8","type":"function","z":"365761bc.50fdfe","name":"Add all used tag_ids to temporal storage","func":"var array = flow.get('temporal_tag_id') || [];\narray.push(global.get('tag_id_red_last'));\narray.push(global.get('tag_id_blue_last'));\narray.push(global.get('tag_id_green_last'));\narray.push(global.get('tag_id_yellow_last'));\narray.push(global.get('tag_id_black_last'));\nflow.set(\"temporal_tag_id\", array);\n\nglobal.set('tag_id_red_last', null);\nglobal.set('tag_id_blue_last', null);\nglobal.set('tag_id_green_last', null);\nglobal.set('tag_id_yellow_last', null);\nglobal.set('tag_id_black_last', null);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1680,"y":220,"wires":[[]]},{"id":"3609b1e3.2b84de","type":"function","z":"365761bc.50fdfe","name":"Remove used tag_ids after some time","func":"var array_orig = flow.get('temporal_tag_id') || [];\nvar array = [];\nfor (i=0; i< array_orig.length; i++) {\n    if ((msg.payload != array_orig[i]) && (array_orig[i] != null) ) {\n      array.push(array_orig[i]);\n    }\n}\nflow.set(\"temporal_tag_id\", array);\nreturn msg;\n","outputs":1,"noerr":0,"x":990,"y":220,"wires":[[]]},{"id":"d2395d66.67ae88","type":"comment","z":"365761bc.50fdfe","name":"Temporal disable tags after redeem","info":"","x":670,"y":180,"wires":[]},{"id":"f315dddb.703928","type":"mqtt in","z":"365761bc.50fdfe","name":"","topic":"homie/nfc-reader/scan","qos":"2","datatype":"utf8","broker":"2a493a4d.dd320e","x":120,"y":320,"wires":[["a86287c0.b47fd"]]},{"id":"2adb54c0.e8dcec","type":"comment","z":"365761bc.50fdfe","name":"Read config files to match tag ids to color","info":"","x":210,"y":640,"wires":[]},{"id":"a37b82af.6e5d4","type":"change","z":"365761bc.50fdfe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"+","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":680,"wires":[["6cb9513.08656b","54d887de.b45b"]]},{"id":"8fc30422.289f38","type":"ui_text","z":"81d2605b.70d53","group":"492a2bf1.81e04c","order":1,"width":0,"height":0,"name":"","label":"Automat bereit!","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":80,"wires":[]},{"id":"c1505eb8.5e522","type":"mqtt in","z":"81d2605b.70d53","name":"","topic":"homie/redeemspiral-3/status","qos":"1","datatype":"json","broker":"2a493a4d.dd320e","x":120,"y":200,"wires":[["1f64c58e.f1439a","5baff6f2.d7a198","b0d18071.f00c98"]]},{"id":"1f64c58e.f1439a","type":"change","z":"81d2605b.70d53","name":"","rules":[{"t":"move","p":"payload.redeem_count","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":160,"wires":[["c0305846.32af6"]]},{"id":"c0305846.32af6","type":"ui_text","z":"81d2605b.70d53","group":"45d8d809.717a6","order":3,"width":0,"height":0,"name":"","label":"Redeem count","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":160,"wires":[]},{"id":"5baff6f2.d7a198","type":"change","z":"81d2605b.70d53","name":"","rules":[{"t":"move","p":"payload.motor_turning","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":200,"wires":[["bc9a391a.db6d6"]]},{"id":"bc9a391a.db6d6","type":"ui_switch","z":"81d2605b.70d53","name":"","label":"Ausgabe aktiv","tooltip":"","group":"492a2bf1.81e04c","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"lens","oncolor":"green","offvalue":"0","offvalueType":"num","officon":"lens","offcolor":"gray","animate":true,"x":800,"y":200,"wires":[[]]},{"id":"d8f3fc22.be42a8","type":"ui_switch","z":"81d2605b.70d53","name":"","label":"Reedkontakt","tooltip":"","group":"ea074717.c343a","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"lens","oncolor":"green","offvalue":"0","offvalueType":"num","officon":"lens","offcolor":"gray","animate":false,"x":790,"y":240,"wires":[[]]},{"id":"b0d18071.f00c98","type":"change","z":"81d2605b.70d53","name":"","rules":[{"t":"move","p":"payload.reed_contact_pin_state","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":240,"wires":[["d8f3fc22.be42a8"]]},{"id":"32d08476.cc4184","type":"file","z":"365761bc.50fdfe","name":"","filename":"/home/pi/log/nfc.log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":540,"y":520,"wires":[[]]},{"id":"a7fe7ad.cb24088","type":"function","z":"365761bc.50fdfe","name":"add time","func":"msg.payload = {Time: new Date(), tagid: msg.payload}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":520,"wires":[["32d08476.cc4184"]]},{"id":"42ae611e.0a45f","type":"file","z":"365761bc.50fdfe","name":"","filename":"/home/pi/log/redeem.log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1710,"y":760,"wires":[[]]},{"id":"54d887de.b45b","type":"function","z":"365761bc.50fdfe","name":"add time","func":"msg.payload = {Time: new Date(), tagid: msg.payload}\n\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":760,"wires":[["42ae611e.0a45f"]]},{"id":"a8330b68.c50e7","type":"ui_switch","z":"365761bc.50fdfe","name":"","label":"Roter Anhänger","tooltip":"","group":"492a2bf1.81e04c","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"lens","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"lens","offcolor":"gray","animate":false,"x":1320,"y":280,"wires":[[]]},{"id":"d5fd3e0.0a0e7c","type":"ui_switch","z":"365761bc.50fdfe","name":"","label":"Blauer Anhänger","tooltip":"","group":"492a2bf1.81e04c","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"lens","oncolor":"blue","offvalue":"false","offvalueType":"bool","officon":"lens","offcolor":"gray","animate":false,"x":1330,"y":320,"wires":[[]]},{"id":"bef18ce4.d0fcc8","type":"ui_switch","z":"365761bc.50fdfe","name":"","label":"Schwarzer Anhänger","tooltip":"","group":"492a2bf1.81e04c","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"lens","oncolor":"black","offvalue":"false","offvalueType":"bool","officon":"lens","offcolor":"gray","animate":false,"x":1340,"y":440,"wires":[[]]},{"id":"4002752c.47c5d4","type":"ui_switch","z":"365761bc.50fdfe","name":"","label":"Gelber Anhänger","tooltip":"","group":"492a2bf1.81e04c","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"lens","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"lens","offcolor":"gray","animate":false,"x":1330,"y":400,"wires":[[]]},{"id":"8a6d01ad.af43","type":"ui_switch","z":"365761bc.50fdfe","name":"","label":"Grüner Anhänger","tooltip":"","group":"492a2bf1.81e04c","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"lens","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"lens","offcolor":"gray","animate":false,"x":1330,"y":340,"wires":[[]]},{"id":"2cdf10c6.bef3e","type":"comment","z":"365761bc.50fdfe","name":"reset after redeem","info":"","x":750,"y":480,"wires":[]},{"id":"6f242806.1c55e","type":"comment","z":"365761bc.50fdfe","name":"redeem!","info":"","x":1300,"y":640,"wires":[]},{"id":"838b3655.2016e","type":"ui_button","z":"81d2605b.70d53","name":"","group":"45d8d809.717a6","order":1,"width":0,"height":0,"passthru":false,"label":"Alles wieder aufgefüllt!","tooltip":"","color":"","bgcolor":"","icon":"","payload":"aufgefuellt","payloadType":"str","topic":"topic","topicType":"msg","x":390,"y":500,"wires":[["3e1d0b71.7e260c"]]},{"id":"b2ac17a5.106698","type":"file","z":"81d2605b.70d53","name":"","filename":"/home/pi/log/redeem.log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":810,"y":500,"wires":[[]]},{"id":"3e1d0b71.7e260c","type":"function","z":"81d2605b.70d53","name":"add time","func":"msg.payload = {Time: new Date(), tagid: msg.payload}\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":500,"wires":[["b2ac17a5.106698"]]},{"id":"ff4176d.185eb08","type":"debug","z":"365761bc.50fdfe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":460,"wires":[]},{"id":"a86287c0.b47fd","type":"function","z":"365761bc.50fdfe","name":"remove leading 0","func":"msg.payload = Number(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":260,"wires":[["a7fe7ad.cb24088","807d66db.827ad","afd8e1b1.b1a13"]]}]